openapi: 3.1.0
info:
  title: OpenAPI Aryn DocParse
  description: "DocParse API"
  version: 0.1.0
servers:
- url: "https://api.aryn.cloud"
paths:
  /v1/document/partition:
    post:
      summary: 'Partition Document'
      operationId: _sync_partition_document_v1
      security:
        - HTTPBearer: []
      parameters:
        - name: User-Agent
          in: header
          required: false
          schema:
            anyOf:
              - type: string
              - type: 'null'
            title: User-Agent
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/Body__sync_partition_document_v1'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PartitionerResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/async/submit/document/partition:
    post:
      summary: 'Submit Document for Async Partitioning'
      operationId: _async_partition_document_submit_v1
      security:
        - HTTPBearer: []
      parameters:
        - name: User-Agent
          in: header
          required: false
          schema:
            anyOf:
              - type: string
              - type: 'null'
            title: User-Agent
        - name: X-Aryn-Webhook
          in: header
          required: false
          schema:
            type: string
            title: X-Aryn-Webhook
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/Body__sync_partition_document_v1'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PartitionerResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/async/result/{job_id}:
    get:
      summary: 'Get Async Job Status'
      operationId: _async_partition_document_status_v1
      security:
        - HTTPBearer: []
      parameters:
        - name: job_id
          in: path
          required: true
          schema:
            type: string
            title: Job ID
        - name: User-Agent
          in: header
          required: false
          schema:
            anyOf:
              - type: string
              - type: 'null'
            title: User-Agent
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PartitionerResponse'
  /v1/async/cancel/{job_id}:
    post:
      summary: 'Cancel Async Job'
      operationId: _async_partition_document_cancel_v1
      security:
        - HTTPBearer: []
      parameters:
        - name: job_id
          in: path
          required: true
          schema:
            type: string
            title: Job ID
        - name: User-Agent
          in: header
          required: false
          schema:
            anyOf:
              - type: string
              - type: 'null'
            title: User-Agent
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PartitionerResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/async/list:
    get:
      summary: 'List Async Jobs'
      operationId: _async_partition_document_list_v1
      security:
        - HTTPBearer: []
      parameters:
        - name: User-Agent
          in: header
          required: false
          schema:
            anyOf:
              - type: string
              - type: 'null'
            title: User-Agent
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  jobs:
                    type: object
                    description: A map of job ids to job details.
                    properties:
                      path:
                        type: string
                        description: The path of the Aryn API the async job was submitted to.
                      state:
                        type: string
                        description: The state of the async job.
                        enum:
                          - "done"
                          - "abort"
                          - "cancel"
                          - "run"
                          - "queue"
                required:
                  - jobs
components:
  schemas:
    Body__sync_partition_document_v1:
      properties:
        file:
          type: string
          format: binary
          title: file
        options:
          type: object
          # additionalProperties: true
          properties:
            selected_pages:
              type: array
              items:
                oneOf:
                  - type: integer
                  - type: array
                    items:
                      type: integer
                    minItems: 2
                    maxItems: 2
              title: Selected Pages
              description: |
                An array containing single integers (e.g., 1) and/or arrays with exactly two integers representing a range (e.g., [1, 10]).
            extract_images:
              type: boolean
              title: Extract Images
              description: |
                A boolean value indicating whether to crop images detected in the document and return them in ppm format converted to base64 within the binary_representation of returned image elements.
            extract_table_structure:
              type: boolean
              title: Extract Table Structure
              description: |
                A boolean value indicating whether to extract table structure from the document. This means detecting cells of a table broken into rows and columns.
            use_ocr:
              type: boolean
              title: Use OCR
              description: |
                A boolean value indicating whether to use OCR or not on the document.
            threshold:
              anyOf:
              - type: string
                enum: ['auto']
              - type: number
                minimum: 0
                maximum: 1
              title: Threshold
              description: |
                A number between 0 and 1 indicating the threshold for document segmentation. Defaults to auto, which uses an automatic threshold.
            chunking_options:
              type: object
              properties:
                strategy:
                  type: string
                  enum: ['context_rich', 'mixed_multi_column', 'maximize_within_limit']
                  title: Strategy
                  description: |
                    The strategy to use for merging chunks. Defaults to context_rich.
                tokenizer:
                  type: string
                  enum: ['openai_tokenizer', 'character_tokenizer', 'huggingface_tokenizer']
                  title: Tokenizer
                  description: |
                    The tokenizer to use for chunking. Defaults to openai_tokenizer.
                tokenizer_options:
                  type: object
                  description: |
                    The options for the tokenizer. See the [full documentation here](processing_options)
                max_tokens:
                  type: integer
                  title: Max Tokens
                  description: |
                    The maximum number of tokens per chunk. Defaults to 512.
                merge_across_pages:
                  type: boolean
                  title: Merge Across Pages
                  description: |
                    A boolean value indicating whether to merge chunks across pages. Defaults to false. Not supported for the 'mixed_multi_column' strategy.
              title: Chunking Options
              description: |
                The options for chunking the document. If not specified, then chunking will not be performed.
            output_format:
              type: string
              enum: ['json', 'markdown']
              title: Output Format
              description: |
                The format of the output. Defaults to json.
      type: object
      required:
        - file
      title: Body__partition_document_sync_v1
    Element:
      properties:
        type:
          type: string
          title: Type
          description: |
            The type of the element.
        bbox:
          items:
            type: number
          type: array
          title: Bbox
          description: |
            The bounding box of the element.
        properties:
          type: object
          title: Properties
          description: |
            The properties of the element.
        text_representation:
          type: string
          title: Text Representation
          description: |
            The text representation of the element.
        binary_representation:
          anyOf:
            - type: string
              format: binary
            - type: 'null'
          title: Binary Representation
          description: |
            The binary representation of the element.
      type: object
      required:
        - type
        - bbox
        - properties
        - text_representation
        - binary_representation
      title: Element
    HTTPValidationError:
      properties:
        detail:
          items:
            $ref: '#/components/schemas/ValidationError'
          type: array
          title: Detail
      type: object
      title: HTTPValidationError
    PartitionerResponse:
      properties:
        status:
          items:
            type: string
          type: array
          title: Status
        error:
          anyOf:
            - type: string
            - type: 'null'
          title: Error
        elements:
          anyOf:
            - items:
                $ref: '#/components/schemas/Element'
              type: array
            - type: 'null'
          title: Elements
        markdown:
          anyOf:
            - type: string
            - type: 'null'
          title: Markdown
      type: object
      required:
        - status
        - error
        - elements
        - markdown
      title: PartitionerResponse
    ValidationError:
      properties:
        loc:
          items:
            anyOf:
              - type: string
              - type: integer
          type: array
          title: Location
        msg:
          type: string
          title: Message
        type:
          type: string
          title: Error Type
      type: object
      required:
        - loc
        - msg
        - type
      title: ValidationError
  securitySchemes:
    HTTPBearer:
      type: http
      scheme: bearer